<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
	<h2 class="text-5xl font-bold my-5">About Us</h2>
	<p class="text-zinc-300">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis corporis sunt est esse, eveniet labore dolorem
		iure aperiam itaque incidunt repudiandae asperiores sapiente voluptatem? Autem, harum! Dicta quo expedita delectus.
	</p>
</section>
