---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Acerda del sitio">
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque sint, aliquam iure consequuntur dicta ut unde laudantium, reprehenderit, corrupti quos dolores maxime culpa alias eius dolorum in. Iure eveniet reiciendis quae est atque nihil soluta sed accusamus, et commodi porro velit cupiditate nisi, qui dolore aliquam repellat vel eaque. Officiis culpa modi consequuntur voluptatum ipsa nesciunt, inventore nam. Nesciunt, rerum culpa? Id esse repudiandae doloribus quia, exercitationem nesciunt cupiditate nemo ab assumenda distinctio quibusdam ipsam totam! Vero, ratione sed vitae inventore nostrum, doloribus dolores nam, odit dolore ducimus labore corporis quibusdam unde voluptatum quidem in. Mollitia ratione maxime nostrum ut?</p>
</Layout>